<!DOCTYPE html>
<html>
<head>
  <title>Tamsin - <%= yield(:pagename) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%# favicon_link_tag 'fusshuhn_32x32.jpg' %>

</head>
<body>

<header>
    <div class="page_logo_area">
        TAMSIN <%= Rails.env.development? ? '開発版' : '' %>
    </div>

    <% (((Rails.env.development? && !adm_session?) ? [[:AdmLogin, herrin_path]] : []) +
       [
        [:Home, fixed_static_pages_home_path],
        [:Kontakt, fixed_static_pages_contact_path ]
       ]).each do |darr|
    %>
        <%= link_to darr[0].to_s, darr[1], method: (darr[2]||:get), class: (darr[0].to_s == yield(:pagename) ? 'navlink-current' : 'navlink' )  %>
    <% end %>
    <div id="flash_area">
    <% flash.each do |key, value| %>
        <canvas height="6px"></canvas>
        <div class="alert alert-<%= key %>"><span><%= value %></span></div>
    <% end %>
    </div>
    <canvas height="6px"></canvas>
</header>
<%= yield %>
<footer>
    <% if adm_session? %>
        <div class="adm_footer_area">
            <%= link_to 'Ende', admin_pages_adm_logout_path, method: :post, class: 'admlink' %> <%= link_to 'Admin Home', '#', class: 'admlink' %>
        </div>
    <% end %>
</footer>
</body>
</html>
